* {
    font-family: "Nunito";
    // color: white;
}

.section-header {
    font-family: "Quicksand";
    // border-bottom: 3px solid #dedede;
}

.table-of-contents {
    a {

        &:hover {
            background-color: rgba(255, 255, 255, 0.1) ! important;
            padding-bottom: 15px ! important;
            border-bottom: 3px solid #fff ! important;
        }
        &.active {
            font-weight: bold ! important;
            background-color: rgba(255, 255, 255, 0.1) ! important;
            //padding-bottom: 15px ! important;
            border-bottom: 15px solid #000 ! important;
        }
    }
}

@import 'materialize';

.background-light {
    // @extend .blue, .lighten-3;
    background-color: #f9f2e1;    
    color: #363359;
}

.background-dark {
    // @extend .blue, .lighten-2;
    background-color: #363359;
    color: #f9f2e1; 
}

.component {
    // @extend .blue, .lighten-1;
    background-color: #A3628F
}

.faq-dark {
    background-color: #363359;
    color: #f9f2e1;
}

.faq-light {
    background-color: #f9f2e1;
}

.slide {
    @extend .col, .s12;
    min-height: 100%;
}

.title {
    font-size: 72px;
    font-weight: 600;
}

.nav {
    background-color: #363359 !important;
}

.nbar {
    @extend .tabs;
}

.nitem {
    @extend .tab;
}

.ge {
    padding-bottom: 30px;
}

#register {
    @extend .black-text;
}

#navbar {
    background-color: rgba(0, 60, 102, 0);
}

.nfixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
