* {
    font-family: 'Josefin Sans';
}

* {
    font-size: 20px;
}

#home {
    padding-bottom: 0;
}

.table-of-contents {
    a {

        &:hover {
            background-color: rgba(255, 255, 255, 0.1) ! important;
            // padding-bottom: 15px ! important;
            border-bottom: 2px solid #fff ! important;
        }
        &.active {
            font-weight: bold ! important;
            background-color: rgba(255, 255, 255, 0.1) ! important;
            //padding-bottom: 15px ! important;
            border-bottom: 2px solid #000 ! important;
        }
    }
}

@import 'components/palette';
@import 'materialize';

.background-light {
    background-color: $purple-1;
    color: $white;
}

.background-dark {
    background-color: $purple-0;
    color: $white;
}

.component {
    background-color: $hunter-yellow;
    color: $purple-4;
}

.component:hover {
    background-color: $hunter-yellow;
    color: $white;
}

#email:focus + label {
    color: $white;
    
}

#email:focus {
    border-bottom: 1px solid $white;
    box-shadow: 0 1px 0 0 $black;
}
   
input[name='email'] .prefix.active {
    color: $white;
}
   
label[for='email'] {
    color: $white;
}

.faq-dark {
    background-color: $purple-0;
    color: $white;
}

.faq-light {
    background-color: $purple-2;
    color: $white;
}

.slide {
    @extend .col, .s12;
    min-height: 100%;
}

.title {
    font-size: 72px;
    font-weight: 600;
}

.nbar {
    @extend .tabs;
    padding-top: 0;
}

.nitem {
    @extend .tab;
}

.nitem a span{
    font-size: 14px;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}

.ge {
    padding-bottom: 30px;
}

#register {
    @extend .black-text;
}

#navbar {
    background-color: rgba(30, 136, 229, 0);
    box-shadow: 1px 1px 1px -1px #000000;
}

.nfixed {
    margin-top: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.even {
    background-color: $purple-1;
}

.odd {
    background-color: $purple-3;
}