.table-of-contents {
    a {

        &:hover {
            background-color: rgba(255, 255, 255, 0.1) ! important;
            padding-bottom: 15px ! important;
            border-bottom: 3px solid #fff ! important;
        }
        &.active {
            font-weight: bold ! important;
            background-color: rgba(255, 255, 255, 0.1) ! important;
            //padding-bottom: 15px ! important;
            border-bottom: 15px solid #000 ! important;
        }
    }
}

@import 'materialize';

.background-light {
    background-color: #f9f2e1;    
    color: #363359;
}

.background-dark {
    background-color: #363359;
    color: #f9f2e1; 
}

.component {
    background-color: #A3628F
}

.faq-dark {
    background-color: #363359;
    color: #f9f2e1;
}

.faq-light {
    background-color: #f9f2e1;
}

.slide {
    @extend .col, .s12;
    min-height: 100%;
}

.title {
    font-size: 72px;
    font-weight: 600;
}

.nbar {
    @extend .tabs;
}

.nitem {
    @extend .tab;
}

.ge {
    padding-bottom: 30px;
}

#register {
    @extend .black-text;
}

#navbar {
    background-color: rgba(30, 136, 229, 0);
}

.nfixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
